ul > li {
    background: yellow;
    color: blue;
}
p{
    background: green;
    color: red;
}
h1{
    background: aquamarine;
    color: firebrick;
}
h2{
    background: fuchsia;
    color: cornsilk;
}
img {
    min-width: 200px;
    max-width: 400px;
}